/* --------------------------
1. fonts: 
a. paragraph: font-family: 'Roboto', sans-serif;
b. heading: font-family: 'Do Hyeon', sans-serif;

2. Background: #FFFFFF;

3. Text-Color: #111111;

4. RedColor: #FF5757;
-----------------------------
*/

/* ---------------------------
            Common Work
------------------------------ */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
html{
    background-color: #FFFFFF;
}
body p{
     font-family:'Roboto', sans-serif ;
}
body h1,
body h2,
body h3,
body h4{
    font-family: 'Do Hyeon', sans-serif;
}
a{
    text-decoration: none;
    font-family: serif;
}
li{
    display: inline-block;
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ------------------------------
            Header
--------------------------------- */
nav{

}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 1200px;
    background: #FFF;
}
.header-image img{
    width: 80px;
}
.header-nav ul li a{
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}
.header-nav ul li a:hover{
    border-bottom: 3px solid #FF5757; ;
}


.header-big-image {
    background-image: url(img/cover.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
    margin-top: 84px;
}


/* ------------------------------
            Section Big Text
--------------------------------- */

.big-text{
    text-align: left;
}
.line{
    border-bottom: 3px solid #131212;
    margin-top: 10px;
    margin-bottom: 60px;
}

/* ------------------------------
            Section Text
--------------------------------- */
.section-text{
    margin-bottom:60px ;
}
.margin-bottom{
    margin-bottom: 20px;
}
p{
    text-align: justify;
}

.works{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works .images{
    width: 30%;
}
.works .images img{
    width: 100%;
}

.works .images p{
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.my-work{
    margin-bottom: 60px;
}

/* ------------------------------
            Section Text
--------------------------------- */
.work-image{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-image .imagex{
    width: 32%;
    margin-top: 30px;
}
.gallery{
    margin-bottom: 70px;;
}


/* ------------------------------
            Story
--------------------------------- */
.story img{
    width: 300px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.my-story{
    margin-bottom: 70px;
}


/* ------------------------------
            Form
--------------------------------- */

form {
text-align: center;
margin-top: 55px;
}

form input, form textarea{
    display: block;
    width: 70%;
    border: 1px solid #111;
    padding: 8px 0;
    margin: 15px auto;
}

form label{
    padding: 20px 0;
    font-size: 20px;
    font-weight: 700;

}

button{
    padding: 10px 20px;
    font-family: 'Do Hyeon', sans-serif;
    margin-bottom: 70px;
}
button:hover{
    background-color: #111111;
    color: #FF5757;
   
}

/* ------------------------------
              Footer
--------------------------------- */
footer p{
padding: 25px 0;
text-align: center;
background-color: #111111 ;
color: #d6d6d6;
font-size: 0.8rem;
}














/* *******************************
           Media Query
******************************** */

@media all and (max-width:1200px){
    .container {
        margin: 0 10px;
        color: #111111;
        
        transition: 0.3s all ease-in;
    }
}

@media all and (max-width:768px){
    body p{
        font-size: 0.9rem;
    }

    body h1,
    body h2,
    body h3,
    body h4{
        font-size: 1.4rem;
    }

    .works {
        flex-direction: column;
    }

    .works .images  {
        width: 90%;
    }

    .work-image .imagex {
        width: 48%;
        margin-top: 17px;
    }

    .story{
        text-align: center;
    }
    .story img{
        float: none;
        width: 300px;
        padding-right: 0px;
        padding-bottom: 10px;
    }
}

@media all and (max-width:500px){
    .header-nav ul li{
        margin: 0 10px;
    }
    .header-nav ul{
        margin: 20px;
    }
    .header-section{
        flex-direction: column;
    }

    .header-nav ul li a{
        padding:  0;
    }
    .header-nav ul li a:hover {
        border-bottom: 3px solid #FF5757;
        background-color: red;
    }

    .work-image .imagex {
        width: 98%;
        margin-top: 15px;
    }
}

@media all and (max-width:400px){
    .header-nav ul{
        margin: 10px;
    }
}

@media all and (max-width:320px){

}





































